<!DOCTYPE html>
<html>
<head>
    <title>BlenderBot Chat</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">

</head>
<body>
    <div id="chatbox">
        <div id="messages"></div>
        <input type="text" id="userInput" placeholder="Say something..." autocomplete="off"/>
        <button onclick="getReply()">Send</button>
    </div>

    <script>
        function getReply() {
            let userText = document.getElementById("userInput").value;
            if (userText) {
                let msg = `<div class='userMessage'>You: ${userText}</div>`;
                document.getElementById("messages").innerHTML += msg;
                document.getElementById("userInput").value = '';

                fetch(`/get?msg=${userText}`).then(response => response.json()).then(data => {
                    let botReply = `<div class='botMessage'>BlenderBot: ${data}</div>`;
                    document.getElementById("messages").innerHTML += botReply;
                }).catch(() => {
                    let botReply = `<div class='botMessage'>BlenderBot: I'm having trouble responding right now.</div>`;
                    document.getElementById("messages").innerHTML += botReply;
                });
            }
        }
    </script>
</body>
</html>
