{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}
<form id="login_form" method="post" enctype="multipart/form-data">
    <label for="username">Nombre de Usuario:</label>
    <input type="text" id="username" name="username" required>

    <video id="video" width="640" height="480" autoplay></video>
    <button type="button" id="botonCaptura">Capturar Foto</button>
    <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
    <input type="file" name="imagen" id="imagen" style="display:none;">

    <input type="submit" value="login">
</form>


<script>
    document.getElementById('botonCaptura').addEventListener('click', function() {
        var video = document.getElementById('video');
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        context.drawImage(video, 0, 0, 640, 480);
    
        canvas.toBlob(function(blob) {
            var newImg = document.createElement('img'),
                url = URL.createObjectURL(blob);
    
            newImg.onload = function() {
                // No longer need to read the blob so it's revoked
                URL.revokeObjectURL(url);
            };
    
            newImg.src = url;
    
            var file = new File([blob], "foto.png", {type: "image/png", lastModified: new Date()});
            var dt = new DataTransfer();
            dt.items.add(file);
            document.getElementById('imagen').files = dt.files;
        }, 'image/png');

        canvas.style.display = "inline-block";
    });
    
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(function(stream) {
            var video = document.getElementById('video');
            video.srcObject = stream;
        })
        .catch(function(error) {
            console.log("Error al acceder a la cámara: " + error);
        });
</script>
{% endblock %}