{% extends 'base.html' %}

{% block title %}Chat{% endblock %}

{% block content %}
    <!-- Contenedor principal para la interfaz del chat -->
    <div id="chatContainer">
        <div id="messages"></div>
        <div id="inputArea">
            <input type="text" id="userInput" placeholder="Say something..." autocomplete="off" onkeypress="handleKeyPress(event)"/>
            <button id="sendButton" onclick="getReply()">Send</button>
            <button id="recordButton" onclick="startRecording()">Record</button>
        </div>
    </div>
    <!-- Scripts de JavaScript para manejar la lógica del chat -->
    <script>
        // Manejo de audio
        let mediaRecorder;
        let audioChunks = [];

        // La función startRecording captura audio del usuario y lo envía a un servidor al detenerse, actualizando el botón de grabación para finalizar el proceso.
        function startRecording() {
            navigator.mediaDevices.getUserMedia({ audio: true })
                .then(stream => {

                    // Empieza la grabación
                    mediaRecorder = new MediaRecorder(stream);
                    mediaRecorder.start();

                    mediaRecorder.addEventListener("dataavailable", event => {
                        audioChunks.push(event.data);
                    });

                    // Cuando se para la manda al back
                    mediaRecorder.addEventListener("stop", () => {
                        const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                        audioChunks = [];

                        sendAudioToServer(audioBlob);
                    });

                    // Reactiva el botón
                    document.getElementById("recordButton").innerText = "Stop Recording";
                    document.getElementById("recordButton").onclick = stopRecording;
                });
        }

        // La función stopRecording detiene la grabación de audio, reinicia el botón para permitir una nueva grabación y deshabilita otros controles de la interfaz.
        function stopRecording() {
            mediaRecorder.stop();
            document.getElementById("recordButton").innerText = "Record";
            document.getElementById("recordButton").onclick = startRecording;

            document.getElementById("userInput").disabled = true;
            document.getElementById("sendButton").disabled = true;
            document.getElementById("recordButton").disabled = true;
        }

        // La función sendAudioToServer envía el audio grabado al servidor usando FormData, maneja la respuesta para mostrar mensajes y respuestas en la interfaz, y reactiva controles deshabilitados.
        function sendAudioToServer(audioBlob) {

            // Obtenemos el nombre de usuario
            var username = "{{ session['username'] }}"; // This needs to be dynamically rendered by Flask

            // Generar timestamp
            const timestamp = new Date().toISOString().replace(/:/g, '-').split('.')[0];

            // Creamos el nombre del fichero con formato: [user]-[timestamp].wav
            const filename = `${username}-${timestamp}.wav`;

            const formData = new FormData();
            formData.append("audio", audioBlob, filename);
        
            // Se manda petición POST a /upload_audio para que el backend procese
            fetch("/upload_audio", { method: "POST", body: formData })
                .then(response => response.json())
                .then(data => {
                    console.log("Audio enviado con éxito:", data);

                    // Mensaje del usuario transcrito
                    let userMessage = `<div class='userMessage'>You: ${data.transcription}</div>`;
                    document.getElementById("messages").innerHTML += userMessage;

                    // Mensaje respuesta del chatbot
                    let botReply = `<div class='botMessage'>GuiriBot: ${data.text}</div>`;
                    document.getElementById("messages").innerHTML += botReply;

                    // Reproducción del audio
                    let audioElement = new Audio(data.audio);
                    audioElement.play();

                    // Habilita controles
                    document.getElementById("userInput").disabled = false;
                    document.getElementById("sendButton").disabled = false;
                    document.getElementById("recordButton").disabled = false;
                })
                .catch(error => {
                    console.error("Error al enviar el audio:", error);
                });
        }

        // Función que maneja la obtención y muestra de la respuesta del bot
        function getReply() {
            // Obtiene el mensaje del usuario desde el campo de entrada
            let userText = document.getElementById("userInput").value;
            // Verifica si hay texto ingresado por el usuario
            if (userText) {
                // Muestra el mensaje del usuario en la interfaz
                let msg = `<div class='userMessage'>You: ${userText}</div>`;
                document.getElementById("messages").innerHTML += msg;
                // Limpia el campo de entrada y lo deshabilita junto con el botón de enviar
                document.getElementById("userInput").value = '';
                document.getElementById("userInput").disabled = true;
                document.getElementById("sendButton").disabled = true;
                document.getElementById("recordButton").disabled = true;

                // Realiza una solicitud al servidor para obtener la respuesta del bot
                fetch(`/get?msg=${userText}`).then(response => response.json()).then(data => {
                    // Muestra la respuesta del bot en la interfaz
                    let botReply = `<div class='botMessage'>GuiriBot: ${data.text}</div>`;
                    document.getElementById("messages").innerHTML += botReply;
                    
                    // Crea un nuevo elemento de Audio a partir de la ruta del fichero WAV y lo reproduce.
                    let audioElement = new Audio(data.audio);
                    audioElement.play();
                    
                    // Rehabilita el campo de entrada y el botón de enviar
                    document.getElementById("userInput").disabled = false;
                    document.getElementById("sendButton").disabled = false;
                    document.getElementById("recordButton").disabled = false;
                    
                    // Coloca el foco de nuevo en el campo de entrada
                    document.getElementById("userInput").focus();
                }).catch(() => {
                    // Maneja errores mostrando un mensaje genérico
                    let botReply = `<div class='botMessage'>GuiriBot: I'm having trouble responding right now.</div>`;
                    document.getElementById("messages").innerHTML += botReply;
                    // Rehabilita el campo de entrada y el botón de enviar
                    document.getElementById("userInput").disabled = false;
                    document.getElementById("sendButton").disabled = false;
                    document.getElementById("recordButton").disabled = false;
                    // Coloca el foco de nuevo en el campo de entrada
                    document.getElementById("userInput").focus();
                });
            }
        }

        // Función para enviar el mensaje cuando se presione Enter
        function handleKeyPress(event) {
            // Verifica si la tecla presionada es Enter
            if (event.keyCode === 13) {
                // Llama a getReply para procesar y enviar el mensaje
                getReply();
            }
        }
        
    </script>
{% endblock %}