* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #262628;
    color: white !important;
    font-family: 'Arial';
}

.error_404{
    display:flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    height: 100vh;
}

.error_404 div{
    width: 40%;
    min-width: 500px;
}

.error_404 h1{
    font-size: 100px;
    color: #73D7DC;
}
.error_404 h2{
    font-size: 30px;
    color: #488D90;
}


/*BADR*/

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#chatbox {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #0a0f0b 0%, #3a3f44 25%, #20242a 50%, #2c3038 75%, #1a1f25 100%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
}

#messages {
    overflow-y: auto;
    margin-bottom: 10px;
}

.userMessage, .botMessage {
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0;
    display: inline-block;
    width: calc(100% - 20px);
}

.userMessage {
    background-color: #556270;
    text-align: right;
}

.botMessage {
    background-color: #4e4a59;
    text-align: left;
}

input[type="text"] {
    width: calc(100% - 60px);
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

button {
    width: 40px;
    border: none;
    border-radius: 5px;
    background-color: #8c9eab;
    color: white;
    cursor: pointer;
}

button:disabled {
    background-color: #697478;
}


#goBackButton {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap; 
}

#goBackButton:hover {
    background-color: #555;
}
