click==8.1.7
datasets==2.17.1
diffusers
Flask==3.0.2
mtcnn==0.1.1
numpy==1.26.4
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
Pillow==10.0.1
soundfile==0.12.1
torch==2.2.0
transformers==4.37.2
Werkzeug==3.0.1
torchaudio
sentencepiece
matplotlib
tensorflow