click==8.1.7
datasets==2.17.1
Flask==3.0.2
Flask-Testing
matplotlib
mtcnn==0.1.1
numpy==1.26.4
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
Pillow==10.0.1
pydub==0.25.1
pytest==8.1.1
soundfile==0.12.1
tensorflow
torch==2.2.0
torchaudio==2.2.1
transformers==4.37.2
sentencepiece==0.2.0
Werkzeug==3.0.1
