<!DOCTYPE html>
<html>
<head>
    <title>Captura de Webcam</title>
</head>
<body>

<video id="video" width="640" height="480" autoplay></video>
<button id="botonCaptura">Capturar Foto</button>
<canvas id="canvas" width="640" height="480"></canvas>

<script src="webcam.js"></script>
</body>
<script>
    document.getElementById('botonCaptura').addEventListener('click', function() {
        var video = document.getElementById('video');
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        context.drawImage(video, 0, 0, 640, 480);
    });
    
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(function(stream) {
            var video = document.getElementById('video');
            video.srcObject = stream;
        })
        .catch(function(error) {
            console.log("Error al acceder a la cámara: " + error);
        });
    
</script>

</html>
